@font-face {
    font-family: 'Aquire';
    src: url('AquireLight.eot');
    src: url('AquireLight.eot?#iefix') format('embedded-opentype'),
        url('AquireLight.woff2') format('woff2'),
        url('AquireLight.woff') format('woff'),
        url('AquireLight.ttf') format('truetype'),
        url('AquireLight.svg#AquireLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Countryside';
    src: url('Countryside.eot');
    src: url('Countryside.eot?#iefix') format('embedded-opentype'),
        url('Countryside.woff2') format('woff2'),
        url('Countryside.woff') format('woff'),
        url('Countryside.ttf') format('truetype'),
        url('Countryside.svg#Countryside') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

