nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
    top: 0;
    padding: 20px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.background-img {
    background-image: url(../img/background.jpg);
    width: 100%;
    height: 657px;
    background-position: center;
    background-size: contain;
    position: relative;
}
.navbar-li {
    display: inline-block;
    font-size: 20px;
    margin: 0 20px;
    font-family: 'Aquire';
}
.navbar-li:hover {
    transform: scale(1.5);
}
.navbar-a {
    text-decoration: none;
    color: darkgray;
}
.quote {
    position: absolute;
    font-size: 35px;
    font-family: 'Aquire';
    top: 455px;
    color: darkgrey;
    margin-left: 20px;
}
h1 {
    width: 100%;
    position: absolute;
    font-family: 'Aquire';
  
    font-size: 50px;
    top: 390px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    color: darkgrey;
    width: 100%;

}
.background-img1 {
    background-image: url(../img/bg.jfif);
    width: 100%;
    height: 657px;
    background-position: center;
    background-size: contain;
    position: relative;
}
.h2 {
    position: absolute;
    bottom: 369px;
    padding: 28px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: darkgrey;
    font-family: 'Aquire';
}

.audio-box {
    position: absolute;
    top: 300px
}
audio {
    padding: 15px;
    outline: none;
}

.background-img2 {
    background-image: url(../img/pic8.jpg);
    width: 100%;
    height: 665px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
h5 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: darkgrey;
    font-family: 'Aquire';
    padding: 80px;
}
.info {
    position: absolute;
    top: 150px;
    font-family: 'Aquire';
    max-width: 800px;
    left: 60px;
    color: darkgray;
    font-size: 20px;
    
}
.background-img3 {
    background-image: url(../img/pic3.jfif);
    width: 100%;
    height: 657px;
    background-position: center;
    background-size: contain;
    position: relative;
}
.dis {
    position: relative;
    top: 100px;
}
h3 {
    font-size: 35px;
    bottom: 369px;
    padding: 28px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: darkgrey;
    font-family: 'Aquire';
}
.albums  {
    position: absolute;
    width: 100%;
    top: 20px;
    display: flex;
    justify-content: space-between;
    top: 300px;
}
.album {
    top: 200px;
}
.album1 {
    top: 300px;
}
.album2 {
   top: 400px;
}
.album3 {
    top: 500px;
}
.album-box {
    padding: 20px;
    width: 400px;
}
.text-none {
    text-decoration: none;
    font-family: 'Aquire';
    color: darkgrey;
}
@media (max-width: 540px) {
    ul {
        /* display: none; */
        position: fixed;
    }
    .background-img {
        background-image: url(../img/pic6.jpg);
        width: 100%;
        height: 657px;
        background-position: center;
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;
    }
    .mobile {
        display: block;
        display: flex;
        justify-content: center;
    }
    .audio1 {
        display: none;
    }
    .background-img1 {
        background-image: url(../img/pic5.jpg);
        width: 100%;
        height: 657px;
        background-position: center;
        background-size: contain;
        position: relative;
    } 
    .mobile-music {
        display: none;
    }
    .navbar-li {
        font-size: 15px;
    }
    .album2 {
        display: none;
    }
    .album3 {
        display: none;
    }
}