nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
    top: 0;
    padding: 20px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.background-img {
    background-image: url(../img/bg-1.jpg);
    width: 100% !important;
    height: 657px;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    position: relative;
}
.navbar-li {
    display: inline-block;
    font-size: 20px;
    margin: 0 20px;
    font-family: 'Aquire';
}
.navbar-li:hover {
    transform: scale(1.5);
}
.navbar-a {
    text-decoration: none;
    color: darkgray;
}
.quote {
    position: absolute;
    font-size: 35px;
    font-family: 'Aquire';
    top: 455px;
    color: darkgrey;
    margin-left: 20px;
}
h1 {
    width: 100%;
    position: absolute;
    font-family: 'Aquire';
    font-size: 50px;
    top: 390px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    color: darkgrey;
    width: 100%;
}
.background-img1 {
    background-image: url(../img/music.jpg);
    width: 100% !important;
    height: 657px;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    position: relative;
}
.h2 {
    position: absolute;
    bottom: 369px;
    padding: 28px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: darkgrey;
    font-family: 'Aquire';
}
.h2-mobile {
    position: absolute;
    padding: 28px;
    font-size: 25px;
    color: darkgrey;
    font-family: 'Aquire';
}
.audio-box {
    position: absolute;
    max-width: 1166px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 300px
}
audio {
    padding: 15px;
    outline: none;
}

.background-img2 {
    background-image: url(../img/pic8.jpg);
    width: 100% !important;
    height: 665px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
h5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 35px;
    color: darkgrey;
    font-family: 'Aquire';
    padding: 80px;
}
.band-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 150px;
    font-family: 'Aquire';
    max-width: 1366px;
    left: 60px;
    color: darkgray;
    font-size: 20px;
}
.mobile-info {
    display: none;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 150px;
    font-family: 'Aquire';
    width: 100%;
    left: 60px;
    color: darkgray;
    font-size: 18px;
}
.background-img3 {
    background-image: url(../img/bg-9.jpg);
    max-width: 1366px;
    width: 100%;
    height: 657px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
h3 {
    font-size: 35px;
    bottom: 369px;
    padding: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 35px;
    color: darkgrey;
    font-family: 'Aquire';
}
.dis {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 100px;
}
.albums  {
    position: absolute;
    width: 100%;
    top: 20px;
    display: flex;
    justify-content: center;
    top: 300px;
    align-items: center;
}
.mobile-albums {
    display: block;
    position: absolute;
    top: 40px;

}
.album {
    top: 200px;
}
.album1 {
    top: 300px;
    display: block;
}
.album2 {
   top: 400px;
   display: block;
}
.album3 {
    top: 500px;
    display: block;
}
.album-box {
    padding: 20px;
    width: 400px;
}
.text-none {
    text-decoration: none;
    font-family: 'Aquire';
    color: darkgrey;
}
h6 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: darkgrey;
    font-family: 'Aquire';
    padding: 80px;
}
@media screen and  (max-width: 540px) {
    ul {
        /* display: none; */
        position: fixed;
    }
    .background-img {
        background-image: url(../img/bg-1.jpg);
        width: 100%;
        height: 700px;
        background-position: center;
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;
    }
    .mobile {
        display: block;
        display: flex;
        justify-content: center;
    }
    .audio1 {
        display: none;
    }
    .audio-box {
        top: 100px;
    }
    .background-img1 {
        background-image: url(../img/music.jpg);
        width: 100%;
        height: 700px;
        background-position: center;
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;
    }
    .mobile-music {
        display: none;
    }
    .navbar-li {
        font-size: 15px;
    }
    .albums {
        display: none;
    }
    .album-box {
        padding: 15px;
    }
    .info {
        display: none;
    }
    .mobile-info {
        display: block;
    }
    .mobile-block {
        top: 20px;
    }
    .h2{
        display: none;
    }
    h3 {
        display: none;
    }
    h5 {
        display: none;
    }
    .h2-mobile {
        display: block;
    }
    
}