.navbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
    top: 0;
    padding: 20px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.background-img {
    background-image: url(../img/bg-1.jpg);
    width: 100% !important;
    height: 657px;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    position: relative;
}
.navbar-li {
    display: inline-block;
    font-size: 20px;
    margin: 0 20px;
    font-family: 'Aquire';
}
.navbar-li:hover {
    transform: scale(1.5);
}
.navbar-a {
    text-decoration: none;
    color: darkgray;
}
.quote {
    position: absolute;
    font-size: 35px;
    font-family: 'Aquire';
    top: 470px;
    color: rgb(43, 37, 37);
    margin-left: 20px;
}
h1 {
    width: 100%;
    position: absolute;
    font-family: 'Aquire';
    font-size: 50px;
    top: 390px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    color: rgb(43, 37, 37);
}
.background-img1 {
    background-image: url(../img/music.jpg);
    width: 100% !important;
    height: 657px;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    position: relative;
}
.h2 {
    position: absolute;
    bottom: 452px;
    padding: 28px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: rgb(43, 37, 37);
    font-family: 'Aquire';
}
.h2-mobile {
    position: absolute;
    padding: 28px;
    font-size: 25px;
    color: rgb(43, 37, 37);
    font-family: 'Aquire';
}
.audio-box {
    position: absolute;
    max-width: 1166px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 199px;
}
audio {
    padding: 15px;
    outline: none;
}

.background-img2 {
    background-image: url(../img/pic8.jpg);
    width: 100% !important;
    height: 665px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
h5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 35px;
    color: rgb(43, 37, 37);
    font-family: 'Aquire';
    padding: 80px;
}
.band-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 150px;
    font-family: 'Aquire';
    max-width: 1366px;
    left: 60px;
    color: rgb(43, 37, 37);
    font-size: 20px;
}
.mobile-info {
    display: none;
}
.background-img3 {
    background-image: url(../img/bg-9.jpg);
    max-width: 1366px;
    width: 100%;
    height: 657px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
h3 {
    font-size: 35px;
    bottom: 369px;
    padding: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 35px;
    color: white;
    font-family: 'Aquire';
}
.dis {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 100px;
}
.albums  {
    position: absolute;
    width: 100%;
    top: 20px;
    display: flex;
    justify-content: center;
    top: 300px;
    align-items: center;
}
.mobile-albums {
    display: none;
    position: absolute;
    top: 40px;

}
.album {
    top: 200px;
}
.album1 {
    top: 300px;
    display: block;
}
.album2 {
   top: 400px;
   display: block;
}
.album3 {
    top: 500px;
    display: block;
}
.album-box {
    padding: 20px;
    width: 400px;
}
.text-none {
    text-decoration: none;
    font-family: 'Aquire';
    color:white;
}
h6 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: rgb(43, 37, 37);
    font-family: 'Aquire';
    padding: 80px;
}
.input-section {
    background-color: #585252d7;
    padding: 35px 0;
}

.input-container {
    max-width: 800px;
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 104px;
    position: relative;
}
textarea {
    width: 267px;
    height: 168px;
    font-family: 'Aquire';
    border-radius: 2px;
    resize: none;
}
input {
    width: 250px;
    padding: 10px;
    margin: 5px;
    color: rgb(43, 37, 37);
    font-family: 'Aquire';
}
button {
    position: absolute;
    top: 188px;
    padding: 10px 50px;
    right: 129px;
    font-family: 'Aquire';
}
.button-2 {
    display: none;
    position: absolute;
    top: 367px;
    padding: 10px 50px;
    right: 134px;
    font-family: 'Aquire';
}
.footer-container {
    position: relative;
    display: flex;
    max-width: 1166px;
    width: 100%;
    margin: 0 auto;
}
footer {
    background-color: rgba(0, 0, 0, 0.753);
    padding: 20px;
}
.logo {
    width: 100px;
    transition: all 0.3s linear 0.9s;
	animation-name: logo;
	animation-duration: 9s;
	animation-delay: 2s;
	animation-delay: 2s; 
	animation-iteration-count: infinite;
	animation-fill-mode: backwards;
	animation-direction: alternate-reverse;
	animation-direction: reverse;
	animation-timing-function: linear

}
@keyframes logo {
    from {
         transform: rotate(360deg);
     }
    to  {
        transform: rotate(360 deg);
    }
}
.comunication {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
.youtube {
    width: 50px;
}
.my-info {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.541);
    font-family: 'Aquire';
}
.topnav {
    overflow: hidden;
    display: none;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 11px;
    text-decoration: none;
    font-size: 12px;
  }
  .topnav a:hover {
    transform: scale(1.5);
  }
  .topnav a.active {
    color: white;
  }
  .topnav .icon {
    display: none;
  }

@media (max-width: 760px) {
    .topnav {
        display: block;
    }
    ul {
        display: none;
    }
    .background-img {
        background-image: url(../img/bg-1.jpg);
        width: 100%;
        height: 700px;
        background-position: center;
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;
    }
    .mobile {
        display: block;
        display: flex;
        justify-content: center;
    }
    .audio1 {
        display: none;
    }
    .audio-box {
        top: 100px;
    }
    .background-img1 {
        display: block;
        background-image: url(../img/music.jpg);
        width: 100%;
        height: 700px;
        background-position: center;
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;
    }
    .mobile-music {
        display: none;
    }
    .navbar-li {
        font-size: 15px;
    }
    .albums {
        display: none;
    }
    .mobile-albums {
        display: block;
    }
    .album-box {
        padding: 15px;
    }
    .band-info {
        display: none;
    }
    .mobile-info {
        display: block;
    }
    .mobile-block {
        top: 20px;
    }
    .h2{
        display: none;
    }
    h3 {
        display: none;
    }
    .h2-mobile {
        display: none;
    }
    button {
        display: none;
    }
    .button-2 {
        display: block;
    }
}

